{% extends "base.html" %}
{% block content %}
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 50%;
            padding: 10px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;

        }

    </style>

    <h1>{{ article['title'] }}</h1>
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <h2>Basic Information</h2>

            Authors placeholder

            <div style="margin-left: 1em;">
                <p>
                    Abstract placeholder {{ article['abstract'] }}
                </p>
            </div>

            Year: {{ article['year'] }}

            <form method="post">
                <br/>
                <input type="submit" value="PDF">
            </form>
        </div>

        <div class="column">
            <h2>Deep Search Results</h2>
            <h3>Datasets:</h3>

            <div style="margin-left: 1em;">
                <li>
                    Dataset placeholder
                </li>
                <li>
                    ...
                </li>
            </div>
        </div>
    </div>
{% endblock %}