@font-face {
  font-family: Baloo;
  src: url("../static/Baloo2-Regular.ttf");
}
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;*/
    font-family: Baloo;
}

.statss {
	width:92%;
	font-size: 15px;
	color: #9d9d9d;
	text-align: center;
}

.Headliner {
	background: #2e4362;
	padding: 30px 20px;

}


.Headliner * {
	margin: 5px;
}

#year {
	background: #ececec;
	font-size: 18px;
	width: 100px;
	height: 30px;
    padding-left: 7px;

}

#author {
	background: #ececec;
	font-size: 18px;
	width:500px;
	height: 30px;
    padding-left: 7px;
}

#search {
	background: #ececec;
	font-size: 20px;
	width: 1000px;
	height: 40px;
    padding-left: 7px;
}

#deep {
	color:white;
	background: #cf9482;
	font-size: 20px;
	width: 83px;
	height: 40px;
}

#basic {
	background: #8eb4d9;
	font-size: 20px;
	width: 83px;
	height: 40px;
}


.Results {
	padding: 30px 200px;
}


.Results * {
	margin: 0px 0px 15px 0px;
}

.year {
	font-size: 20px;
	font-weight: bold;
	color: #808080;
}

.author {
	width:92%;
	font-size: 20px;
	color: #9d9d9d;
}

.article {
	font-size: 20px;
	font-weight: bold;
	color:#2e4362;
	text-align: justify;
}

.dataset_part {
	font-size: 20px;
	padding: 20px 0px 10px 100px;
	color:#2e4362;
	text-align: justify;
}
