<!doctype html>
<html>
   <body>

      <table border = 1>
         <thead>
            <td>Id</td>
            <td>Path</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["path"]}}</td>
            </tr>
         {% endfor %}
      </table>
      <table border = 1>
         <thead>
            <td>Id</td>
            <td>Article_id</td>
            <td>Title</td>
         </thead>

         {% for dataset in datasets %}
            <tr>
               <td>{{dataset["id"]}}</td>
               <td>{{dataset["article_id"]}}</td>
               <td>{{dataset["title"]}}</td>
            </tr>
         {% endfor %}
      </table>

   </body>
</html>
