<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename="style_search.css") }}">
        <meta charset="utf-8">
        <title>Page Title</title>
    </head>
    <body>
    {% block content %}
        <img class="search_label"
            src="../static/page1/SVG/text.svg" 
            alt="Search_text"
	        width="80%"/>
        
            
        <form class="search_area"  method="post">
            <input type="text" name="search_text" id="search_text" placeholder="Type to start your search..." required>
            <!-- <a href="try_1_results_with_html_layout.html">-->
            <input type="image" name="submit" src="../static/page1/SVG/Enter.svg"
                value="Enter">
            <!--</a>-->
        </form>
    {% endblock %}
    </body>
</html>